.headerInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 402px;
    color:white;
}

.left_item {
    margin: 200px 30px 0px 107px;
    color: white;
}

.title {
    text-transform: uppercase;
    font-size: 50px;
}

.list {
    display: -webkit-inline-box;
    border-right: 3px solid white;
    font-size: 20px;
    list-style-type: none;
    li {
        margin-right: 31px;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

.nav_list {
    margin-top: 5px;
}

.list_star {    
    display: flex;
    padding-top: 40px;
    list-style-type: none;
}

.star {
    font-size: 26px;
    color:#09ade3;
    margin-right: 10px;
    text-decoration: none;
}

.time {
    padding-left: 10px;
}

.counter {
    margin-top: -5px;
    width: 8%;
    padding: 3px;
    background: #0a0e0f;
    border-radius: 5px;
    color: white;
    border: 1px solid #09ade3;
    font-size: 20px;
    text-align: center;
}

//start right item//

.right_item {
    margin-top: 73px;
    margin-right: 12px;
    width: 23%;
    color: white;
}

.discription_block {
    margin-left: 65px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    font-size: 20px;
}

.discription_text {
    height: 167px;
    overflow: hidden;
    display: block;
    line-height: 1.5;
    font-size: 23px;
}

.discription_wrapper {
    padding: 18px;
}

.bottons {
    margin-top: 39px;
}

.bottons_left {
    width: 36%;
    padding: 9px;
    margin-right: 30px;
    background: #09ade3;
    border-radius: 5px;
    color: white;
    border: 1px solid #09ade3;
    font-size: 24px;
}

.bottons_right {
    width: 36%;
    padding: 9px;
    background: #0a0e0f;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    font-size: 24px;
}

@media (max-width: 1200px){
    .right_item {
        width: 35%;
    } 
}

@media (max-width: 960px){
    .right_item {
        width: 40%;
    }
    .span {
        margin-left: 30px;
        padding: 10px;
    }
    .list_star {
        padding-top: 20px;
    }
    .left_item {
        margin: 240px 30px 0px 50px;
    }
    .right_item {
        display:none;
    }
}

@media (max-width: 480px){
    .left_item {
        margin: 150px 30px 0px 50px;
    }

    .title {
        max-height: 28%;
        overflow: hidden;
        text-transform: uppercase;
        font-size: 33px;
    }

    .search_wrapper {
        width: 50%;
        margin:10%;
    }
}