.movie_item {
    color: #09ade3;
    border-radius: 10px;
}

.movie_wrapper {
    width:24.45%;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
}

.movie_main {
    border: 1px solid grey;
}

.movie_img {
    width:100%;
    height: 440px;
    border-radius: 10px 10px 0px 0px;
}

.movie_description {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.title {
    margin: 20px;
    color: black;
    text-transform: uppercase;
}

.movie_genre {
    li {
        list-style-type: none;
        display: inline-block;
        margin:10px;
        font-size: 20px;
    }
}

.movie_rating {
    width: 6%;
    height: 4%;
    padding: 3px;
    margin: 40px 60px 0px 0px;; 
    border-radius: 5px;
    color: #09ade3;
    border: 1px solid #09ade3;;
    font-size: 20px;
    text-align: center;
}