.movie_item {
    height: 550px;
    color: #09ade3;
    position: relative;
    .movie_hover {
        z-index: 2;
    }
    .movie_img {
        height: 550px;
        width: 100%;
        position: relative;
        text-align: center;
    }
    .background_img {
        background: black;
        text-align: -webkit-center;
    }
}

.movie_wrapper {
    width:22.1%;
    margin: 27px;
    background-color: white;
}

// ************start hover movie item****************

.movie_hover {
    display: none;
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 115px;
    color: white;
}

.movie_item:hover {
    .movie_hover {
        display: flex;
        width: 100%;
        height: 50%;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        position: absolute;
        top: 115px;
        color: white;
    }
    .movie_img {
        opacity: 0.3
    }
}


.hover_button_play {
    width: 96px;
    height: 96px;
    background: url('../../image/play96.png') no-repeat center;
    border: 0px;
    margin-top: 20px;
}

.hover_watch {
    margin-top: 20px;
    font-size: 25px;
}

.hover_button_view {
    width: 35%;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    margin-top: 40px;
}

// ************the end hover movie item****************

.movie_description {
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: absolute;
    top: 455px;
    height: 100px;
    width: 100%;
}

.title {
    margin: 10px 20px 0px 20px;
    color: black;
    text-transform: uppercase;
    height: 30px;
    overflow: hidden;
}

.movie_genre {
    li {
        list-style-type: none;
        display: inline-block;
        margin:10px;
        font-size: 20px;
    }
}

.movie_rating {
    width: 7%;
    height: 24%;
    padding: 3px;
    margin: 40px 60px 0px 0px;; 
    color: #09ade3;
    border: 1px solid #09ade3;;
    font-size: 20px;
    text-align: center;
}

//start discription state//

.discription_hover {
    background-color: rgba(0,0,0,0.5);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    color: white;
    display: flex;
    flex-direction: column;
    z-index: 10;
    top: 0px;
    .button_close {
        margin: 15px;
        width: 30px;
        height: 30px;
    }
    .discription_title {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
}

.button_watch {  
    width: 40%;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    margin-left: 30%;
}

.main {
    padding: 15px;
    color: white;
}

.img_discription {
    opacity: 0.3;
    height: 550px;
    z-index: 2;
    position: absolute;
}

.button_close {
    background:url('../../image/iconclose.png') no-repeat center;
    border: none;
    padding: 12px 12px;
}

.vote_average {
    border: 2px solid white;
    height: 20px;
    width: 25px;
    padding: 5px;
    margin: 10px 30px;
    text-align: center;
}

.description_img {
    height: 550px;
    width: 100%;
    position: relative;
    text-align: center;
    opacity: 0.3;
}

.discription_item {
    z-index: 1;
    position: relative;
    background: black;
    height: 550px;
}
.description_button {
    background:url('../../image/iconclose.png') no-repeat center;
    border: none;
    padding: 12px 12px;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
}

.description_info {
    position: absolute;
    top: 0px;
    color: white;
}

.description_header {
    display: flex;
    padding: 20px;
}

.description_list {
    list-style-type: none;
    display: inline-flex;
}

.description_list li {
    margin-right: 15px;
}

.discription_overview {
    max-height: 255px;
    overflow: hidden;
}


