.three1 {
	display: flex;
	justify-content: space-between;
	padding-top: 21px;
}

.logo{
	margin-left: 101px;
	font-size:25px;
	text-transform: uppercase;
	color:white;
}

.form_search {
	margin-right: 90px; 
}

input:focus, input:active {
    outline: none !important;
}

input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
	color: white;
}

.search_submit {
	width: 30px;
	height: 30px;
	background:url('../../image/search.png') no-repeat center;
	border: 0px;
	padding: 12px 24px;
}

.search_wrapper {
	border: solid 3px white;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=search] {
	background: no-repeat 420px center;
	background-color: transparent;
	border: none;
	padding: 12px 10px 9px 9px;
	width: 350px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input[type=search]:focus {
	background: no-repeat 500px center;
	width: 370px;
	border-color: white;
	color: white;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
	color: white;
}

input::-webkit-input-placeholder {
	font-size: 23px;
	color: white;
}

@media (max-width: 960px){
	input[type=search]:focus {
		width: 200px;
	}

	input[type=search] {
		width: 150px;
	}

	.logo{
		margin-left: 10px;
	}

	.form_search {
		margin-right: 10px; 
	}
}

@media (max-width: 480px){
	.three1 {
		display: block;
	}

	input[type=search] {
		width: 72%;
	}

	input[type=search]:focus {
		width: 72%;
	}

	.form_search {
		margin-right: 1px;
	}
	.search_wrapper {
		margin: 20px 3px 0px 3px;
		font-size: 12px;
	}
}



