.movie_list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 106px;
    background-color: #f2f2f2;
}

@media (max-width: 960px){
    .movie_list {
        padding: 1px;
    }
}
